body {
    background-color: darkcyan;
}

.quiz-area {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: rgba(196, 92, 8, 0.801);
    padding: 10px 50px 50px 50px;
    border: 2px solid slategrey;
    border-radius: 50px;
    box-shadow: 10px 15px 5px rgb(194, 57, 3);
}

.quiz-area h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(8, 8, 85);
    font-size: 50px;
    text-align: center;
    color: darkorange;
    padding: 2px 0;
    border-radius: 50px;
}

.quiz-area #questions {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(9, 16, 82);
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: rgb(4, 83, 187);
    width: 250px;
    font-size: 20px;
    color: darkorange;
    border: 1px solid darkslateblue;
    border-radius: 50px;
    margin: 10px 40px 10px 0;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    background-color: darkgreen;
    cursor: pointer;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    font-size: 18px;
    color: rgb(0, 37, 117);
}

#gap1 {
    margin-bottom: 20px;
}

#gap2 {
    margin-top: 50px;
}